/*
* Blok - 0.4.0
* https://github.com/frankydoge/blok
*
* Copyright 2018, Justin Martin
* Free to use under the MIT license
* http://opensource.org/licenses/MIT
*/

/***********

  CONTENTS
------------

- Global
  - Reset
  - Base
  - Font-Family
  - Font-Size
  - Text-Align
  - Color-Background
  - Transparent

- Elements
  - Grid
    - Container
    - Row
    - Column
  - Link
  - Text

- Blok
  - Header
  - Container
  - Article
  - Sidebar
  - Footer

***********/

/********

  GLOBAL

********/

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BASE */

html {
  /* font size is 62.5% so that 0.1rem = 1px */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* FONT-FAMILY */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Rubik:300,400|Source+Code+Pro');

.font-family-heading {
  font-family: 'Montserrat', sans-serif;
}

.font-family-body {
  font-family: 'Roboto', sans-serif;
}

.font-family-secondary {
  font-family: 'Rubik', sans-serif;
}

/* FONT-SIZE */

.font-size-text {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.font-size-quote {
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.font-size-h4 {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.font-size-h3 {
  font-size: 2.8rem;
  line-height: 2rem;
}

.font-size-h2 {
  font-size: 3.6rem;
  line-height: 2rem;
}

.font-size-h1 {
  font-size: 4.8rem;
  line-height: 1.6rem;
}

@media all and (max-width: 900px) {
  .font-size-quote {
    font-size: 2rem;
    line-height: 2rem;
  }

  .font-size-h4 {
    line-height: 2rem;
  }

  .font-size-h3 {
    font-size: 2.2rem;
    line-height: 1.9rem;
  }

  .font-size-h2 {
    font-size: 2.6rem;
    line-height: 2.2rem;
  }

  .font-size-h1 {
    font-size: 3.2rem;
    line-height: 3rem;
  }
}

/* TEXT-ALIGN */

.text-align-right {
  text-align: right;
}

.text-align-middle {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-justified {
  text-align: justify;
}

/* COLOR-BACKGROUND */

.color-background-black {
  background-color: #000000;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.color-background-white {
  background-color: #FFFFFF;
  color: #000000;
  border-color: #000000;
}

.color-background-red {
  background-color: #DB4545;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.color-background-green {
  background-color: #71B16E;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.color-background-blue {
  background-color: #0087BE;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

/* TRANSPARENT */

.transparent {
  opacity: 0.9;
}

/********

  ELEMENTS

********/

/*** 
  GRID
***/

/* CONTAINER */

.container {
  width: 100%;
}

.container-raised {
  box-shadow: 0 0.2rem 0.5rem grey;
}

/* ROW */

.row:before, 
.row:after {
  content: "";
  display: table;
  clear: both;
} 

/* COLUMN */

.column {
  float: left; 
  width: 8.333%; 
  padding: 0.75rem;
}

.column-1 { width: 8.333%; }
.column-2 { width: 16.666%; }
.column-3 { width: 25%; }
.column-4 { width: 33.333%; }
.column-5 { width: 41.666%; }
.column-6 { width: 50%; }
.column-7 { width: 58.333%; }
.column-8 { width: 66.666%; }
.column-9 { width: 75%; }
.column-10 { width: 83.333%; }
.column-11 { width: 91.666%; }
.column-12 { width: 100%; }

@media all and (max-width: 900px) {
  .column { padding: 0; }
  .column-1 { width: 25%; }
  .column-2 { width: 50%; }
  .column-3 { width: 100%; }
  .column-4 { width: 100%; }
  .column-5 { width: 100%; }
  .column-6 { width: 100%; }
  .column-7 { width: 100%; }
  .column-8 { width: 100%; }
  .column-9 { width: 100%; }
  .column-10 { width: 100%; }
  .column-11 { width: 100%; }
  .column-12 { width: 100%; }
}

.column-offset-1 { margin-left: 8.333%; }
.column-offset-2 { margin-left: 16.666%; }
.column-offset-3 { margin-left: 25%; }
.column-offset-4 { margin-left: 33.333%; }
.column-offset-5 { margin-left: 41.666%; }
.column-offset-6 { margin-left: 50%; }
.column-offset-7 { margin-left: 58.333%; }
.column-offset-8 { margin-left: 66.666%; }
.column-offset-9 { margin-left: 75%; }
.column-offset-10 { margin-left: 83.333%; }
.column-offset-11 { margin-left: 91.666%; }

@media all and (max-width: 900px) {
  .column-offset-1 { margin-left: 0; }
  .column-offset-2 { margin-left: 0; }
  .column-offset-3 { margin-left: 0; }
  .column-offset-4 { margin-left: 0; }
  .column-offset-5 { margin-left: 0; }
  .column-offset-6 { margin-left: 0; }
  .column-offset-7 { margin-left: 0; }
  .column-offset-8 { margin-left: 0; }
  .column-offset-9 { margin-left: 0; }
  .column-offset-10 { margin-left: 0; }
  .column-offset-11 { margin-left: 0; }
}

/* LINK */

.link {
  text-decoration: none;
  color: #CCCCCC;
}

.link:hover {
  color: inherit;
  cursor: pointer;
}

.link-active {
  color: inherit;
}

.link-type-title {
  display: block;
  padding: 1.5rem 0 1rem 0;
  color: #000000;
}

.link-type-nav {
  padding: 0 0.75rem;
}

.link-type-list {
  display: block;
  padding: 0.3rem 0;
}

@media all and (max-width: 900px) {
  .link-type-title,
  .link-type-list {
    display: block;
    padding: 1.5rem;
    text-align: center;
  }

  .link-type-nav {
    text-align: center;
    padding: 0 1.5rem;
  }
}

/* TEXT */

/* Need to add inline styles*/

.text-type-title {
  padding: 3rem 0;
}

.text-type-title-small {
  padding: 1rem 0;
}

.text-type-sub {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  margin: 0 auto;
  color: #323232;
  font-weight: 300;
}

.text-type-paragraph {
  padding: 2rem 0 0.5rem 0;
}

.text-type-quote {
  padding: 1.5rem 0.5rem 1.5rem 2rem;
  background-color: #F7F4F4;
  border-left: #CCCCCC 1rem solid;
}

.text-type-code {
  font-family: 'Source Code Pro', monospace;
  padding: 1.5rem 0.5rem 1.5rem 2rem;
  background-color: #323232;
  color: #FFFFFF;
  margin: 0.5rem 0;
}

@media all and (max-width: 900px) {
  .text-type-title,
  .text-type-sub,
  .text-type-paragraph {
    width: 95%;
    margin: 1.5rem auto;
  }

  .text-type-sub {
    padding-bottom: 0.5rem;
  }

  .text-type-paragraph {
    padding: 1rem 0;
  }
}

/********

  BLOK

********/

/* BLOK.HEADER */

.blok-header {
  position: fixed;
  /* Create blur behind in future*/
  border-bottom: #CCCCCC 0.01rem solid;
}

.blok-header-link {
  padding-left: 2rem;
}

@media all and (max-width: 900px) {
  .blok-header {
    opacity: 1;
  }

  .blok-header-link {
    margin: 1rem 0;
  }

  .blok-header-title,
  .blok-header-nav {
    display: block;
    text-align: center;
  }

  .blok-header-title {
    padding: 1rem 0;
  }
}

/* BLOK.CONTAINER */

.blok-container-padded {
  padding-top: 7rem;
}

.blok-container-divide {
  border-bottom: #CCCCCC 0.01rem solid; 
}

@media all and (max-width: 900px) {
  .blok-container {
    padding-bottom: 1rem;
  }

  .blok-container-padded {
    padding-top: 9.5rem;
  }
}

/* BLOK.ARTICLE */

/* BLOK.SIDEBAR */

@media all and (max-width: 900px) {
  .blok-sidebar {
    border-bottom: #CCCCCC 0.01rem solid;
  }

  .blok-sidebar-title {
    display: none;
  }

  .blok-sidebar-link {
    display: inline-block;
    min-width: 33%;
    padding: 1.25rem;
  }

  .blok-sidebar-link.link-type-title {
    display: inline-block;
    width: 100%;
  }
}

/* BLOK.FOOTER */

.blok-footer {
  min-height: 150px;
  border-top: #CCCCCC 0.01rem solid; 
}

.blok-footer-link {
  margin-top: 2rem;
}

@media all and (max-width: 900px) {
  .blok-footer {
    opacity: 1;
  }

  .blok-footer-nav {
    display: block;
    text-align: center;
  }
}