/*
* Blok - 0.1.0
* https://github.com/frankydoge/blok
*
* Copyright 2017, Justin Martin
* Free to use under the MIT license
* http://opensource.org/licenses/MIT
*/

/***********

  CONTENTS
------------

- Global
  - Base
  - Font-Family
  - Font-Size
  - Text-Align
  - Color-Background
  - Transparent

- Elements
  - Grid
    - Container
    - Row
    - Column
  - Heading
  - Line
  - Link
  - Text

- Blok
  - Content
  - Header

***********/

/********

  GLOBAL

********/

/* BASE */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* FONT-FAMILY */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Rock+Salt');

.font-family-heading {
  font-family: 'Montserrat', sans-serif;
}

.font-family-body {
  font-family: 'Roboto', sans-serif;
}

.font-family-fancy {
  font-family: 'Rock Salt', cursive;
}

/* FONT-SIZE */

.font-size-tiny {
  font-size: 1.5rem;
}

.font-size-small {
  font-size: 2rem;
}

.font-size-regular {
  font-size: 3rem;
}

.font-size-large {
  font-size: 4rem;
}

.font-size-huge {
  font-size: 5.5rem;
}

/* TEXT-ALIGN */

.text-align-right {
  text-align: right;
}

.text-align-middle {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-justified {
  text-align: justify;
}

/* COLOR-BACKGROUND */

.color-background-black {
  background-color: #000000;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.color-background-white {
  background-color: #FFFFFF;
  color: #000000;
  border-color: #000000;
}

.color-background-red {
  background-color: #DB4545;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.color-background-green {
  background-color: #71B16E;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.color-background-blue {
  background-color: #0087BE;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

/* TRANSPARENT */

.transparent {
  opacity: 0.7;
  background-color: #000000;
  color: #FFFFFF;
}

/********

  ELEMENTS

********/

/*** 
  GRID
***/

/* CONTAINER */

.container {
  width: 100%;
  margin: 0 auto;
}

.container-raised {
  box-shadow: 0 0.2rem 0.5rem grey;
}

/* ROW */

.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
} 

/* COLUMN */

.column {
  float: left; 
  width: 12.5%; 
  padding: 1rem;
}

.column-1 { width: 12.5%; }
.column-2 { width: 25%; }
.column-3 { width: 37.5%; }
.column-4 { width: 50%; }
.column-5 { width: 62.5%; }
.column-6 { width: 75%; }
.column-7 { width: 87.5%; }
.column-8 { width: 100%; }

@media all and (max-width: 900px) {
  .column-1 { width: 50%; }
  .column-2 { width: 100%; }
  .column-3 { width: 100%; }
  .column-4 { width: 100%; }
  .column-5 { width: 100%; }
  .column-6 { width: 100%; }
  .column-7 { width: 100%; }
  .column-8 { width: 100%; }
}

/* HEADING */

.heading {
  margin: 0;
}

/* LINE */

.line {
  height: 0.1rem;
  width: 100vw;
  margin: 5rem 0 0 -1rem;
  background-color: #000000;
}

.line-small {
  height: 0.1rem;
  width: 50%;
  margin: 2rem auto 0 auto;
  background-color: #AAAAAA;
}

/* LINK */

.link {
  text-decoration: none;
  color: #CCCCCC;
  padding: 0rem 2.5rem;
}

.link:hover {
  color: inherit;
  cursor: pointer;
}

.link-active {
  color: inherit;
}

/********

  BLOK

********/

/* CONTENT */

.blok-content-padded {
  padding-top: 7rem;
}

.blok-content-heading {
  padding-top: 3rem;
}

.blok-content-kicker {
  padding-top: 1.5rem;
  width: 60%;
  margin: 0 auto;
}

.blok-content-description {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0.5rem;
}

@media all and (max-width: 900px) {
  .blok-content {
    padding-bottom: 1rem;
  }

  .blok-content-padded {
    padding-top: 8.5rem;
  }

  .blok-content-kicker {
    padding-bottom: 0.5rem;
    width: 75%;
  }

  .blok-content-description {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0 0 0;
  }
}

/* HEADER */

.blok-header {
  position: fixed;
}

.blok-header-link {
  margin-top: 0.7rem;
}

@media all and (max-width: 900px) {
  .blok-header-link {
    text-align: center;
  }
}

/********** 
*
*   This will be added back in when side-panels are introduced
*   but have removed this from the Blok.Header
*
***********

.panel-side-left,
.panel-side-right {
  height: 100vh;
}

.panel-side-left {
  box-shadow: 0.2rem 0 0.5rem grey;
}

.panel-side-right {
  box-shadow: -0.2rem 0 0.5rem grey;
}

.panel-side-left .heading {
  display: block;
  margin: 1em 0.5em;
}

.panel-side-left .heading {
  display: block;
  margin: 1em -0.5em;
}

.panel-side-left .link,
.panel-side-right .link {
  display: block;
  margin: 0 -0.5em;
}

.panel-side-left .link-active,
.panel-side-right .link-active {
  margin: 0 -1em;
  border-bottom: none;
}

.panel-side-left .link-active {
  border-right: 0.5em solid;
}

.panel-side-right .link-active {
  border-left: 0.5em solid;
}

*/