/*
* Blok - 0.1.0
* https://github.com/frankydoge/blok
*
* Copyright 2017, Justin Martin
* Free to use under the MIT license
* http://opensource.org/licenses/MIT
*/

/********

-       GLOBAL

********/

/* BODY */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* FONT-FAMILY */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

.font-family-heading {
  font-family: 'Roboto', sans-serif;
}

.font-family-body {
  font-family: 'Montserrat', sans-serif;
}

/* FONT-SIZE */

.font-size-tiny {
  font-size: 1rem;
}

.font-size-small {
  font-size: 2rem;
}

.font-size-regular {
  font-size: 3rem;
}

.font-size-large {
  font-size: 4rem;
}

.font-size-huge {
  font-size: 5rem;
}

/* TEXT-ALIGN */

.text-align-right {
  text-align: right;
}

.text-align-middle {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-justified {
  text-align: justify;
}

/* COLOR-BACKGROUND */

.color-background-black {
  background-color: #000000;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.color-background-white {
  background-color: #FFFFFF;
  color: #000000;
  border-color: #000000;
}

.color-background-red {
  background-color: #DB4545;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.color-background-green {
  background-color: #71B16E;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.color-background-blue {
  background-color: #0087BE;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

/********

-       BLOK's

********/

/* GRID */

.container {
  width: 100%;
  margin: 0 auto;
}

.container-raised {
  box-shadow: 0 0.2rem 0.5rem grey;
}

.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
} 

.column {
  float: left; 
  width: 12.5%; 
  padding: 1rem;
}

.column-1 { width: 12.5%; }
.column-2 { width: 25%; }
.column-3 { width: 37.5%; }
.column-4 { width: 50%; }
.column-5 { width: 62.5%; }
.column-6 { width: 75%; }
.column-7 { width: 87.5%; }
.column-8 { width: 100%; }

/* LINK */

.link {
  text-decoration: none;
  color: #CCCCCC;
  padding: 1.5rem 2.5rem;
}

.link:hover {
  color: inherit;
  cursor: pointer;
}

.link-active {
  color: inherit;
  border-bottom: 0.2rem solid;
}

/* PANEL */

.panel-side-top {
  margin-top: 2.5em;
}

.panel-side-left,
.panel-side-right {
  height: 100vh;
}

.panel-side-left {
  border-right: 0.1em solid;
  box-shadow: 0.2rem 0 0.5rem grey;
}

.panel-side-right {
  border-left: 0.1em solid;
  box-shadow: -0.2rem 0 0.5rem grey;
}

.panel-side-left .heading {
  display: block;
  margin: 1em 0.5em;
}

.panel-side-left .heading {
  display: block;
  margin: 1em -0.5em;
}

.panel-side-left .link,
.panel-side-right .link {
  display: block;
  margin: 0 -0.5em;
}

.panel-side-left .link-active,
.panel-side-right .link-active {
  margin: 0 -1em;
  border-bottom: none;
}

.panel-side-left .link-active {
  border-right: 0.5em solid;
}

.panel-side-right .link-active {
  border-left: 0.5em solid;
}